@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 100% 97%;
    --foreground: 215 32% 16%;
    --card: 0 0% 100%;
    --card-foreground: 215 32% 16%;
    --primary: 210 96% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 100% 57%;
    --secondary-foreground: 32 72% 20%;
    --muted: 213 89% 95%;
    --muted-foreground: 213 13% 42%;
    --accent: 162 60% 46%;
    --accent-foreground: 0 0% 100%;
    --border: 204 32% 84%;
    --destructive: 0 78% 58%;
  }

  .dark {
    --background: 218 33% 10%;
    --foreground: 204 45% 96%;
    --card: 216 28% 15%;
    --card-foreground: 204 45% 96%;
    --primary: 210 96% 52%;
    --primary-foreground: 217 38% 12%;
    --secondary: 48 100% 57%;
    --secondary-foreground: 32 72% 18%;
    --muted: 216 20% 22%;
    --muted-foreground: 214 16% 70%;
    --accent: 164 56% 48%;
    --accent-foreground: 217 38% 12%;
    --border: 216 18% 28%;
    --destructive: 0 68% 55%;
  }
}
